body {
	margin:0; padding:0;
  font-family: Lato,sans-serif;
  * { box-sizing: border-box; }
}
textarea {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  padding: 0.5rem;
}
.tomd__input textarea { color: #888; }
.tomd__output textarea { color: #02477d; }
#header {
	width: 100%;
	background: #fbfbfb;
	border-bottom: solid 1px #e7ecf0;
	padding: 6px 1rem;
}
$mobile-height: 32px;
$big-height: 56px;
.header__content {
  max-width: 80rem;
  margin: 0 auto;
  min-height: $mobile-height;
	img {
		max-height: $mobile-height;
		width: auto;
    display: inline-block;
	}
	display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}
#author-logo {text-align: center;}
#github-link {text-align: right;}

h1 {
  font-size: calc(15rem/16);
  color: black;
  font-weight: normal;
  font-family: Lato,sans-serif;
  margin:0;
  padding:0;
}
@media screen and (min-width: 768px) {
  h1 { font-size: calc(18rem/16);}
  .header__content img { max-height: $big-height; }
}
.tomd {
  max-width: 45rem;
  margin: 1rem auto;
  padding: 1rem;
}
.tomd__input, .tomd__output {
  margin: 1rem 0;

  textarea {
    width: 100%;
    height: 5rem;
  }
}

.tomd__input {
  textarea {
    height: 5rem;
    margin-bottom: 1rem;
  }
}

.tomd__output {
  textarea {
    min-height: calc(100vh - 22rem);
  }
}
